:root {
  --background-color: #001220;
  --background-color-light: #1a2a36;
  --primary-color-1: #4361ed;
  --primary-color-2: #584cdd;
  --primary-color-3: #6634ca;
  --primary-color-4: #710ab6;
  --white: #fff;
  --black: #000;

  --gray-1: #20293b;
  --gray-2: #99a0a6;

  --ff-primary: "AnkaCoderRegular", sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.3125rem; /* 21px */
  --fs-650: 1.6rem;
  --fs-700: 1.75rem; /* 28px */
  --fs-750: 2.5rem; /* 32px */
  --fs-800: 3rem; /* 48px */
  --fs-850: 3.5rem;
  --fs-900: 4rem; /* 64px */

  --fs-primary-heading: var(--fs-900);
  --fs-primary-heading-md: var(--fs-800);
  --fs-primary-heading-sm: var(--fs-750);
  --fs-primary-heading-xs: var(--fs-700);
  --fs-secondary-heading: var(--fs-800);
  --fs-secondary-heading-md: var(--fs-750);
  --fs-secondary-heading-sm: var(--fs-700);
  --fs-secondary-heading-xs: var(--fs-650);
  --fs-tertiary-heading: var(--fs-700);
  --fs-tertiary-heading-md: var(--fs-600);
  --fs-tertiary-heading-sm: var(--fs-500);
  --fs-tertiary-heading-xs: var(--fs-400);
  --fs-nav: var(--fs-600);
  --fs-primary-body: var(--fs-600);
  --fs-primary-body-md: var(--fs-500);
  --fs-primary-body-sm: var(--fs-400);
  --fs-primary-body-xs: var(--fs-200);
  --fs-secondary-body: var(--fs-500);
  --fs-secondary-body-xs: var(--fs-300);

  --border-radius-1: 1rem;
  --border-radius-2: 2rem;
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Utilities */

.container,
.container-xl {
  --max-width: 1600px;
  --padding: 3rem;

  height: 100%;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-xl {
    --padding: 15rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
  }
}

.mr-lg-1 {
  margin-right: 0px;
}

@media (min-width: 993px) {
  .mr-lg-1 {
    margin-right: 20px;
  }
}

.d-flex {
  display: flex;
  height: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.text-primary-1 {
  color: var(--primary-color-1);
}

.text-white {
  color: var(--white);
}

.text-gray-2 {
  color: var(--gray-2);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-body {
  font-family: var(--ff-body);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-tertiary-heading {
  font-size: var(--fs-tertiary-heading);
}

@media (max-width: 992px) {
  .fs-primary-heading {
    font-size: var(--fs-primary-heading-md);
  }

  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading-md);
  }

  .fs-tertiary-heading {
    font-size: var(--fs-tertiary-heading-md);
  }
}

@media (max-width: 768px) {
  .fs-primary-heading {
    font-size: var(--fs-primary-heading-sm);
  }

  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading-sm);
  }

  .fs-tertiary-heading {
    font-size: var(--fs-tertiary-heading-sm);
  }
}

@media (max-width: 576px) {
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading-xs);
  }
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fs-primary-body {
  font-size: var(--fs-primary-body);
}

.fs-secondary-body {
  font-size: var(--fs-secondary-body);
}

@media (max-width: 992px) {
  .fs-primary-body {
    font-size: var(--fs-primary-body-md);
  }
}

@media (max-width: 576px) {
  .fs-secondary-body {
    font-size: var(--fs-secondary-body-xs);
  }
}

.background-image,
.background-image-bottom {
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-bottom {
  background-position: bottom;
}

/* General Styles */

.section {
  padding: 10rem 0;
}

.hero {
  height: 100vh;
  background-image: url("../images/polygon-scatter-haikei.svg");
}

.about {
  background-image: url("../images/layered-waves-haikei.svg");
}

.projects {
  background-image: url("../images/layered-waves-haikei-reverse.svg");
}

.contact {
  background-image: url("../images/wave-haikei.svg");
}

.primary-footer {
  background-color: var(--primary-color-1);
}

.primary-heading {
  text-align: center;
  margin-bottom: 20px;
}

.secondary-heading {
  text-align: center;
  position: relative;
  margin-bottom: 75px;
}

.contact .secondary-heading {
  margin-bottom: 40px;
}

.secondary-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.75rem;
  background: white;
  height: 0.5rem;
  width: 5rem;
  border-radius: 1rem;
  margin-left: -2.5rem;
}

.tertiary-heading {
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .secondary-heading::after {
    height: 0.4rem;
  }
}

@media (max-width: 768px) {
  .secondary-heading::after {
    height: 0.3rem;
    width: 3rem;
    margin-left: -1.5rem;
  }
}

.primary-paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.copyright-text {
  text-align: center;
  padding-bottom: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: var(--fs-750);
}

@media (max-width: 992px) {
  .icon-container {
    font-size: var(--fs-700);
  }
}

@media (max-width: 576px) {
  .icon-container {
    font-size: var(--fs-600);
  }
}

.even-columns {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 992px) {
  .even-columns {
    grid-template-columns: 1fr;
  }
}

.projects-list {
  margin: 0 auto;
  max-width: 100%;
}

.project-list-item {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.project-image-laptop-left {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 8;
}

.project-image-left {
  display: none;
  border-radius: var(--border-radius-1);
  background-image: url("../images/trading-journal-project.png");
  background-color: var(--background-color-light);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 13;
}

.project-description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: -1;
}

.project-details-right {
  text-align: right;
  background-color: var(--gray-1);
  padding: 1.25rem;
  border-radius: var(--border-radius-2);
  margin-bottom: 1rem;
}

.project-links {
  font-size: var(--fs-700);
}

@media (max-width: 1080px) {
  .project-image-laptop-left {
    grid-column-end: 9;
  }

  .project-description-right {
    grid-column-start: 5;
  }
}

@media (max-width: 992px) {
  .projects-list {
    margin: 0 auto;
    max-width: 80%;
  }

  .project-image-laptop-left {
    display: none;
  }

  .project-image-left {
    display: block;
  }

  .project-description-right {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 1.3rem;
    align-items: flex-start;
  }

  .project-details-right {
    text-align: left;
    background-color: transparent;
    padding: 0;
  }

  .project-links {
    font-size: var(--fs-650);
  }
}

@media (max-width: 768px) {
  .projects-list {
    max-width: 100%;
  }

  .project-links {
    font-size: var(--fs-600);
  }
}

@media (max-width: 576px) {
  .project-links {
    font-size: var(--fs-500);
  }
}

body {
  font-size: var(--fs-secondary-body);
  font-family: var(--ff-body);
  color: var(--white);
  background-color: var(--background-color);
}

ul {
  padding: 0;
  list-style: none;
}
