:root {
  --background-color: #001220;
  --primary-color-1: #4361ed;
  --primary-color-2: #584cdd;
  --primary-color-3: #6634ca;
  --primary-color-4: #710ab6;

  --gray-1: #20293b;
  --gray-2: #99a0a6;
}
